<!-- NG-ZORRO -->
<nz-layout>
  <nz-header>
    <div class="logo">
      <p nz-typography>Invoice Generator</p>
    </div>
  </nz-header>
  
  <nz-content>
    <form nz-form #invoiceForm="ngForm" [nzLayout]="'vertical'">
      <nz-space nzDirection="vertical" style="width: 100%">
        <nz-page-header *nzSpaceItem [nzGhost]="false">
          <nz-page-header-title>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="name">Invoice Number</nz-form-label>
              <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                <input nz-input [(ngModel)]="invoice.invoice_number" name="invoice_number" required />
              </nz-form-control>
            </nz-form-item>
          </nz-page-header-title>

          <nz-page-header-extra>
            <nz-space>
              <button *nzSpaceItem nz-button [disabled]="!invoiceForm.valid" (click)="openPdf()">
                <span nz-icon nzType="download" nzTheme="outline"></span>
                Open Invoice
              </button>

              <button *nzSpaceItem nz-button [disabled]="!invoiceForm.valid" (click)="printPdf()">
                <span nz-icon nzType="printer" nzTheme="outline"></span>
                Print Invoice
              </button>
              
              <button 
                *nzSpaceItem 
                nz-button 
                [disabled]="!invoiceForm.valid" 
                nzType="primary" 
                (click)="downloadPdf()"
              >
                <span nz-icon nzType="download" nzTheme="outline"></span>
                Download Invoice
              </button>
            </nz-space>
          </nz-page-header-extra>

          <nz-page-header-content>
            <div nz-row [nzGutter]="[8, 8]">
              <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
                <nz-descriptions nzTitle="Bill From" nzLayout="vertical" [nzColumn]="1">
                  <nz-descriptions-item nzTitle="Your name">
                    <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                      <input 
                        nz-input 
                        [(ngModel)]="invoice.seller.name" 
                        name="sellerName" 
                        required 
                      />
                    </nz-form-control>
                  </nz-descriptions-item>
      
                  <nz-descriptions-item nzTitle="Your Address">
                    <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                      <input nz-input [(ngModel)]="invoice.seller.address" name="sellerAddress" required />
                    </nz-form-control>
                  </nz-descriptions-item>
      
                  <nz-descriptions-item nzTitle="Your Email">
                    <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                      <input 
                        nz-input 
                        [(ngModel)]="invoice.seller.email" 
                        name="sellerEmail" 
                        required 
                        email 
                      />
                    </nz-form-control>
                  </nz-descriptions-item>
      
                  <nz-descriptions-item nzTitle="Your Phone Number">
                    <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                        <input
                          nz-input
                          type="number"
                          [(ngModel)]="invoice.seller.phoneNumber" 
                          name="sellerPhoneNumber" 
                          required
                          minLength="8" 
                          maxlength="8" 
                        />
                    </nz-form-control>
                  </nz-descriptions-item>
                </nz-descriptions>
              </div>

              <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
                <nz-descriptions nzTitle="Bill To"  nzLayout="vertical"  [nzColumn]="1">
                  <nz-descriptions-item nzTitle="Buyer/Business name">
                    <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                      <input nz-input [(ngModel)]="invoice.buyer.name" name="buyerName" required />
                    </nz-form-control>
                  </nz-descriptions-item>
      
                  <nz-descriptions-item nzTitle="Buyer Address">
                      <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                        <input nz-input [(ngModel)]="invoice.buyer.address" name="buyerAddress" required />
                      </nz-form-control>
                  </nz-descriptions-item>
      
                  <nz-descriptions-item nzTitle="Buyer Email">
                      <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                        <input 
                          nz-input 
                          [(ngModel)]="invoice.buyer.email" 
                          name="buyerEmail" 
                          required 
                          email 
                        />
                      </nz-form-control>
                  </nz-descriptions-item>
      
                  <nz-descriptions-item nzTitle="Buyer Phone Number">
                      <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                          <input
                            nz-input
                            type="number"
                            [(ngModel)]="invoice.buyer.phoneNumber" 
                            name="buyerPhoneNumber" 
                            required
                            minLength="8" 
                            maxlength="8" 
                          />
                      </nz-form-control>
                  </nz-descriptions-item>
                </nz-descriptions>
              </div>

              <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
                <nz-descriptions nzLayout="vertical" [nzColumn]="1">
                  <nz-descriptions-item nzTitle="Invoice Date">
                    <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                      <nz-date-picker [(ngModel)]="invoice.invoice_date" name="invoice_date" required  />
                    </nz-form-control>
                  </nz-descriptions-item>
      
                  <nz-descriptions-item nzTitle="Payment Due">
                    <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                      <nz-date-picker [(ngModel)]="invoice.payment_due" name="payment_due" required  />
                    </nz-form-control>
                  </nz-descriptions-item>
                </nz-descriptions>
              </div>
            </div>
          </nz-page-header-content>
        </nz-page-header>

        <nz-divider *nzSpaceItem></nz-divider>

        <div *nzSpaceItem nz-row [nzGutter]="[8, 8]">
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="16" nzXl="16">
            <nz-space nzDirection="vertical" style="width: 100%">
              <button *nzSpaceItem nz-button nzType="primary" (click)="addLineItem()">
                Add Line Item
              </button>

              <nz-table *nzSpaceItem nzBordered nzTemplateMode [nzScroll]="{ x: '1000px' }">
                <thead>
                  <tr>
                    <th>
                      <nz-form-label nzRequired>Item</nz-form-label>
                    </th>

                    <th>
                      <nz-form-label nzRequired>Quantity</nz-form-label>
                    </th>

                    <th>
                      <nz-form-label nzRequired>Price Per Unit</nz-form-label>
                    </th>
                    <th>Amount</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let lineItem of invoice.lineItems; index as lineItemIndex">
                    <td>           
                        <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                          <input 
                            nz-input 
                            [(ngModel)]="invoice.lineItems[lineItemIndex].item" 
                            [name]="'item_'+lineItemIndex" 
                            required 
                          />
                        </nz-form-control>
                    </td>
        
                    <td>
                      <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                        <nz-input-number 
                          [(ngModel)]="invoice.lineItems[lineItemIndex].quantity"
                          (ngModelChange)="getAmount(lineItemIndex)"  
                          [name]="'quantity_'+lineItemIndex"
                          required 
                        />
                      </nz-form-control>
                    </td>
        
                    <td>
                      <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                        <nz-input-number 
                          [(ngModel)]="invoice.lineItems[lineItemIndex].pricePerUnit"
                          (ngModelChange)="getAmount(lineItemIndex)" 
                          [nzFormatter]="formatterKSH"
                          [name]="'pricePerUnit_'+lineItemIndex"
                          required 
                        />
                      </nz-form-control>
                    </td>
        
                    <td>
                      <nz-form-control>
                        {{ lineItem.amount }}
                      </nz-form-control>
                    </td>
        
                    <td>
                      <nz-form-control>
                        <a 
                          nz-popconfirm 
                          nzPopconfirmTitle="Sure to delete?" 
                          (nzOnConfirm)="removeLineItem(lineItemIndex)"
                        >
                          <span nz-icon nzType="delete" nzTheme="outline"></span>
                        </a>
                      </nz-form-control>
                    </td>
                  </tr>
                </tbody>
              </nz-table>

              <nz-form-item *nzSpaceItem>
                <nz-form-label nzRequired>Terms &amp; Conditions</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                  <textarea
                    nz-input
                    [(ngModel)]="invoice.termsAndConditions" 
                    name="termsAndConditions" 
                    required
                  ></textarea>
                </nz-form-control>
              </nz-form-item>
            </nz-space>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
            <nz-descriptions nzSize="small" nzBordered [nzColumn]="1">
              <nz-descriptions-item nzTitle="Subtotal">
                <h4 nz-typography>{{ invoice.subTotal }}</h4>
              </nz-descriptions-item>

              <nz-descriptions-item nzTitle="Tax 0.00%">
                  <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                    <nz-input-number 
                      [(ngModel)]="invoice.tax" 
                      (ngModelChange)="getTotal()" 
                      [nzFormatter]="formatterPercent"
                      maxlength="100"
                      name="tax" 
                      required 
                    />
                  </nz-form-control>
              </nz-descriptions-item>

              <nz-descriptions-item nzTitle="Fee/Discount">
                <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                  <nz-input-number 
                    [(ngModel)]="invoice.fee" 
                    (ngModelChange)="getTotal()" 
                    [nzFormatter]="formatterKSH"
                    name="fee" 
                    required 
                  />
                </nz-form-control>
              </nz-descriptions-item>
              
              <nz-descriptions-item nzTitle="Total">
                <h4 nz-typography>{{ invoice.total }}</h4>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
      </nz-space>

      <ng-template #errorTemplate let-control>
        <ng-container *ngIf="control.hasError('required')">
          This field is required
        </ng-container>
      </ng-template>
    </form>
  </nz-content>

  <nz-footer>Invoice Generator &copy; {{ year }}</nz-footer>
</nz-layout>